extends layout

block content
  main
    div.formWrapper
      form(id="form" method="post" action="/" role="form" enctype="application/x-www-form-urlencoded")
        label(for="location") Enter location
        input(type="text" id="location" name="location" placeholder="Leave empty for a random location")
        input(type="submit" name="submit" value="Show me the weather")
    div.weatherWrapper
      p Location: #{weatherData.locationCity}, #{weatherData.locationCountry}
      p #{weatherData.temp}° C
      img(src=`/images/icons/${weatherData.icon}.png` alt=`${weatherData.description}`)
      p #{weatherData.description}
      p (Last update: #{weatherData.time})
